// pmstlyes.less
//
// Template taken from:
// https://github.com/patternfly/patternfly-tutorial/blob/master/less/mystyles.less

// Import patternfly.less and patternfly-additions.less
@import "../bower_components/patternfly/dist/less/patternfly";
@import "../bower_components/patternfly/dist/less/patternfly-additions";

// Import patternfly variables due to the -additions separation
@import "../bower_components/patternfly/dist/less/variables";

// Change the path of fonts and images to be relative to your project
@font-path: "../../bower_components/patternfly/dist/fonts";
@img-path: "../../bower_components/patternfly/dist/img";

// PubMiner Styles
@link-color: orange;

.pm-list-row-authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loading-text {
    text-align: center;
}

.navbar-brand {
    padding-top: 14px;
}

.expansion-body {
    padding-top: 4px;
}
@-moz-document url-prefix() {
    .pm-list-row-authors {
        width: 400px;
    }
}
