// pmstlyes.less
//
// Template taken from:
// https://github.com/patternfly/patternfly-tutorial/blob/master/less/mystyles.less

// Import patternfly.less and patternfly-additions.less
@import "../bower_components/patternfly/dist/less/patternfly";
@import "../bower_components/patternfly/dist/less/patternfly-additions";

// Import patternfly variables due to the -additions separation
@import "../bower_components/patternfly/dist/less/variables";

// Change the path of fonts and images to be relative to your project
@font-path: "../../bower_components/patternfly/dist/fonts";
@img-path: "../../bower_components/patternfly/dist/img";

// PubMiner Styles
@link-color: orange;
#searchTerm {
     width: 400px;
     font-size: 14px;
}
.results-summary {
    margin: 24px 0px 0px 20px;
    font-style: italic;
    font-size: 16px;
}
.pm-list-row-authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #348cb1;
}
.loading-text {
    text-align: center;
}
.navbar-brand {
    padding-top: 14px;
}
.abstract-text-header {
    padding-right: 3px;
    font-weight: bold;
    color: #8a0e0e;
}
.list-group-item-container {
    background-color: #ececec;
}
.article-title {
    font-weight: bold;
    font-size: 14px;
}
.abstract-icon {
    color: #8a0e0e;
}
.sentence-icon {
    color: #154a7d;
}
.table-icon {
    color: #117d48;
}
.demo-sentence-section {
    color: #154a7d;
    font-weight: bold;
    padding-right: 3px;
}
.icon-text {
    font-size: 14px;
}
@media (min-width: 992px) {
    .list-view-pf-additional-info {
        width: 10%;
    }
}
@-moz-document url-prefix() {
    .pm-list-row-authors {
        width: 400px;
    }
}
