//-
    accordionTable1.pug

    Display the Table 1 section of the accordion control

if item.table1
    div(class="panel panel-default")
        div(class="panel-heading")
            h4(class="panel-title")
                a(data-toggle="collapse" data-parent=`#accordion-markup${item.uid}` href=`#collapseTable1${item.uid}`) Table 1
        div(id=`collapseTable1${item.uid}` class="panel-collapse collapse")
            div(class="panel-body")
                div !{item.table1}
