//-
   layout.pug

doctype html
html(lang="en" class="layout-pf layout-pf-fixed")
    head
        title PubMiner
        meta(charset="utf-8")
        link(rel='stylesheet' href='css/pmstyles.css')
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/patternfly/dist/js/patternfly.min.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="bower_components/bootstrap-select/dist/js/bootstrap-select.min.js")
        script(src="bower_components/datatables/media/js/jquery.dataTables.min.js")
        script(src="bower_components/patternfly/dist/js/patternfly-functions-data-tables.js")
        block scripts
    body
        include navBar
        include searchBar
        block content
