//-
   layout.pug

doctype html
html(lang="en")
    head
        title PubMiner
        meta(charset="utf-8")
        link(rel='stylesheet' href='css/pmstyles.css')
        block scripts
    body
        nav(class="navbar navbar-pf-vertical")
            div(class="navbar-header")
                a(href="/" class="navbar-brand") P u b M i n e r
        div(class="container-fluid")
            div(class="row toolbar-pf")
                div(class="col-sm-12")
                    form(class="toolbar-pf-actions" method='GET' action='/results')
                        div(class="form-group toolbar-pf-filter")
                            div(class="input-group")
                                input(id="searchTerm" name="searchTerm" class="form-control" type="text" placeholder="Search Terms" style="width: 400px")
                        div(class="form-group toolbar-pf-find")
                            button(class="btn btn-link btn-find" type="submit")
                                span(class="fa fa-search")
        block content
