//-
   list.pug

   Display the list view.  The table displays search results.

extends layout.pug
block scripts
    script(src="scripts/jquery.min.js")
    script(src="scripts/jquery.datatables.js")
    script(src="scripts/patternfly-functions-data-tables.js")
    script(src="scripts/wntable.js")
block content
    div(class="container-fluid")
        div(class="row toolbar-pf")
            div(class="col-sm-12")
                form(class="toolbar-pf-actions" method='GET' action='/results')
                    div(class="form-group toolbar-pf-filter")
                        div(class="input-group")
                            input(id="searchTerm" name="searchTerm" class="form-control" type="text" placeholder="Search Terms" style="width: 400px")
                    div(class="form-group toolbar-pf-find")
                        button(class="btn btn-link btn-find" type="submit")
                            span(class="fa fa-search")
    div(style="text-align: center")
        h2 What's New in Our Database
        h3 Last update 2/28/2018
    table(class="table table-striped table-border table-hover" id="table1")
        thead
            tr
                th PMC ID
                th Title
